body {
font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
Meiryo, sans-serif;
line-height: 1.6;
color: #0a0a0a;
margin:0;
padding:20px;
background-color:#aad959;
}

h1{
color:#b80606;
font-size:2em;
border-bottom:2px solid#b80606;
padding-bottom:10px;
margin-bottom:20px;
}

h2{
color:#b80606;
font-size:1.5em;
background-color:#aad959;
}