body {
font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
Meiryo, sans-serif;
line-height: 1.6;
color: #0a0a0a;
margin:5;
padding:10px;
background-color:#aad959;
}

h1{
color:#b80606;.
font-size:2em;
border-bottom:2px solid#b80606;
padding-bottom:5px;
margin-bottom:10px;
}

h2{
color:#b80606;
font-size:1.5em;
background-color:#aad959;
padding:5px;
border-left:5px solid#b80606;
margin-top:30px;
}
p{
font-size:1rem;
margin-bottom:15px;
}

footer{
margin-top:50px;
text-align:center;
color:#b82f06;
font-size:0.8em;
}